<div>
  <div class='gunItemListContainer'>
    <div *ngIf="gunItemList">
      <div *ngFor="let gun of pagedItems">
        <app-gun-item [gunItem]="gun"></app-gun-item>
      </div>
    </div>
  </div>
  <div class="pagerContainer">
    <ul class="btn-group pagination" role="group" *ngIf="pager.pages && pager.pages.length">
      <li (click)="setPage(1)" class="btn btn-primary" [ngClass]="{disabled:pager.currentPage === 1}">
        First
      </li>
      <li (click)="setPage(pager.currentPage - 1)" class="btn btn-primary" [ngClass]="{disabled:pager.currentPage === 1}">
        Previous
      </li>
      <li (click)="setPage(page)" *ngFor="let page of pager.pages" class="btn btn-primary" [ngClass]="{active:pager.currentPage === page}">
        {{page}}
      </li>
      <li (click)="setPage(pager.currentPage + 1)" class="btn btn-primary" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        Next
      </li>
      <li (click)="setPage(pager.totalPages)" class="btn btn-primary" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        Last
      </li>
    </ul>
  </div>
  <div *ngIf="!gunItemList">
    Loading...
  </div>
</div>
